name: Dart CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      working-directory: ./prometheus_client
      run: pub get
    - name: Run tests
      working-directory: ./prometheus_client
      run: pub run test
    - name: Dart/Flutter Package Analyzer
      uses: axel-op/dart_package_analyzer@v2.0.0
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
        relativePath: prometheus_client/
