name: Publish packages

on:
  release:
    types: [ published ]
  push:
    branches:
      - main
  pull_request:

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          channel: stable
      - name: Setup credentials
        run: |
          mkdir -p ~/.pub-cache && cat <<EOF > ~/.pub-cache/credentials.json
          ${{ secrets.CREDENTIAL_JSON }}
          EOF

      - name: (prometheus_client) Install dependencies
        run: dart pub get
        working-directory: prometheus_client
      - name: (prometheus_client) Dry-run publish
        run: dart pub publish --dry-run
        working-directory: prometheus_client
      - name: (prometheus_client) Publish
        run: dart pub publish --force
        if: github.event.release
        working-directory: prometheus_client

      - name: (prometheus_client_shelf) Remove dependency override
        run: sudo snap install yq && yq eval "del(.dependency_overrides)" --inplace pubspec.yaml
        if: github.event.release
        working-directory: prometheus_client_shelf
      - name: (prometheus_client_shelf) Install dependencies
        run: dart pub get
        working-directory: prometheus_client_shelf
      - name: (prometheus_client_shelf) Dry-run publish
        run: dart pub publish --dry-run
        working-directory: prometheus_client_shelf
      - name: (prometheus_client_shelf) Publish
        run: dart pub publish --force
        if: github.event.release
        working-directory: prometheus_client_shelf
